.App {
  text-align: center;
}

.headerBanner {
  width: 100vw;
  height: 40px;
  background: linear-gradient(to right, #79a5ea, #300c1b);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 30px;
  margin: 0;
  margin-left: 20px;
  color: white;
  font-weight: 50;
  font-family: "Pacifico", cursive;
}

.cloneLogo {
  height: 30px;
  width: 30px;
  background-color: white;
  display: flex;
  flex-direction: row;
}
.logoBar {
  flex: 1;
  margin: 2px;
  background-color: black;
}

#bar2 {
  height: 20px;
}
#bar3 {
  height: 10px;
}

#project {
  justify-content: flex-start;
  background: transparent;
}

.projectTitleText {
  font-size: 25px;
  font-family: "Nunito Sans", sans-serif;
  margin-left: 20px;
}

.mainContainerBody {
  width: 100vw;
  height: 840px;
  background-color: grey;
  display: flex;
  justify-content: space-around;
}

.ColumnForList {
  width: 300px;
  height: 800px;
  background-color: yellow;
}
